In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/spaceship-titanic/sample_submission.csv
/kaggle/input/spaceship-titanic/train.csv
/kaggle/input/spaceship-titanic/test.csv

# PREPROCESSING

## 1- Load Dataset

In [2]:
data = pd.read_csv('/kaggle/input/spaceship-titanic/train.csv' , index_col='PassengerId')
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8693 entries, 0001_01 to 9280_02
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8492 non-null   object
 1   CryoSleep     8476 non-null   object
 2   Cabin         8494 non-null   object
 3   Destination   8511 non-null   object
 4   Age           8514 non-null   float64
 5   VIP           8490 non-null   object
 6   RoomService   8512 non-null   float64
 7   FoodCourt     8510 non-null   float64
 8   ShoppingMall  8485 non-null   float64
 9   Spa           8510 non-null   float64
 10  VRDeck        8505 non-null   float64
 11  Name          8493 non-null   object
 12  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(6)
memory usage: 891.4+ KB

In [3]:
X = data.drop(['Transported']  , axis=1)
y  = data['Transported']
X.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
PassengerId,,,,,,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy
0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines
0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent
0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent
0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines

### Seprate mixed column

In [4]:
X[['Cabin_deck' , 'Cabin_num' , 'Cabin_side']] = X['Cabin'].str.split('/', expand=True)
X = data.drop(['Cabin' , 'Name'] , axis=1)

## 2- Handeling missing values

In [5]:
X[X.isnull().any(axis=1)]

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
PassengerId,,,,,,,,,,,
0006_02,Earth,True,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,True
0008_02,Europa,True,TRAPPIST-1e,34.0,False,0.0,0.0,NaN,0.0,0.0,True
0014_01,Mars,False,55 Cancri e,27.0,False,1286.0,122.0,NaN,0.0,0.0,False
0020_03,Earth,True,55 Cancri e,29.0,False,0.0,0.0,NaN,0.0,0.0,False
0020_05,Earth,True,PSO J318.5-22,1.0,False,NaN,0.0,0.0,0.0,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...
9250_01,Europa,False,TRAPPIST-1e,29.0,False,0.0,2972.0,NaN,28.0,188.0,True
9257_01,NaN,False,TRAPPIST-1e,13.0,False,39.0,0.0,1085.0,24.0,0.0,False
9259_01,Earth,NaN,TRAPPIST-1e,44.0,False,1030.0,1015.0,0.0,11.0,NaN,True
9274_01,NaN,True,TRAPPIST-1e,23.0,False,0.0,0.0,0.0,0.0,0.0,True
9275_03,Europa,NaN,TRAPPIST-1e,30.0,False,0.0,3208.0,0.0,2.0,330.0,True

In [6]:
X.isnull().sum() #Check null rows

HomePlanet      201
CryoSleep       217
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

### Seprate categorical and numerical columns

In [7]:
categorical_features = [feature for feature in X.columns if len(X[feature].unique()) < 25]
numerical_features = [feature for feature in X.columns if feature not in categorical_features]
print("Categorical features:" , categorical_features)
print("Numerical features:" , numerical_features)

Categorical features: ['HomePlanet', 'CryoSleep', 'Destination', 'VIP', 'Transported']
Numerical features: ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

### Handling the missing values for **numerical** columns

In [8]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[numerical_features])
X[numerical_features] = imputer.transform(X[numerical_features])
X[numerical_features].isnull().sum()

Age             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

### handling the missing values for **categorical** columns

In [9]:
pd.set_option('future.no_silent_downcasting', True)
X[categorical_features] = X[categorical_features].fillna(X[categorical_features].mode().iloc[0])

In [10]:
X[categorical_features].isnull().sum()

HomePlanet     0
CryoSleep      0
Destination    0
VIP            0
Transported    0
dtype: int64

## 3- Encoding the categorical data

In [11]:
X.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
PassengerId,,,,,,,,,,,
0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [12]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output=False, drop=None)
ct = ColumnTransformer(transformers=[('encoder',ohe , categorical_features)], remainder='passthrough')
X_transformed_df = ct.fit_transform(X)
cat_feature = ct.named_transformers_['encoder'].get_feature_names_out(categorical_features)

all_feature_names = list(cat_feature) + numerical_features
X_transformed_df =pd.DataFrame(X_transformed_df, columns=all_feature_names , index=X.index)

In [13]:
X_transformed_df

,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_False,CryoSleep_True,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_False,VIP_True,Transported_False,Transported_True,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
PassengerId,,,,,,,,,,,,,,,,,,
0001_01,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,39.0,0.0,0.0,0.0,0.0,0.0
0002_01,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,24.0,109.0,9.0,25.0,549.0,44.0
0003_01,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,58.0,43.0,3576.0,0.0,6715.0,49.0
0003_02,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,33.0,0.0,1283.0,371.0,3329.0,193.0
0004_01,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,16.0,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9276_01,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,41.0,0.0,6819.0,0.0,1643.0,74.0
9278_01,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0
9279_01,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,26.0,0.0,0.0,1872.0,1.0,0.0
9280_01,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,32.0,0.0,1049.0,0.0,353.0,3235.0
9280_02,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,44.0,126.0,4688.0,0.0,0.0,12.0

## 4- Encoding the label

In [14]:
y.head()

PassengerId
0001_01    False
0002_01     True
0003_01    False
0003_02    False
0004_01     True
Name: Transported, dtype: bool

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_transformed_df = le.fit_transform(y)
y_transformed_df = pd.Series(y_transformed_df , name=y.name , index=y.index)
y_transformed_df

PassengerId
0001_01    0
0002_01    1
0003_01    0
0003_02    0
0004_01    1
          ..
9276_01    0
9278_01    0
9279_01    1
9280_01    0
9280_02    1
Name: Transported, Length: 8693, dtype: int64

## 5- Feature scaling