In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split

In [2]:
data_set = pd.read_csv("../data/melb_data.csv" , index_col=0)
y = data_set.Price
X = data_set.drop("Price" , axis=1)
X = X.select_dtypes(exclude="object")

In [93]:
X_train , X_valid , y_train , y_Valid = train_test_split(X , y , train_size=0.8, test_size=0.2,random_state=0)

In [94]:
columns_with_missing = X_train.isnull().sum()
print(columns_with_missing[columns_with_missing > 0])

Distance            1
Postcode            1
Bedroom2         2779
Bathroom         2780
Car              2860
Landsize         3829
BuildingArea     8516
YearBuilt        7528
Lattitude        2675
Longtitude       2675
Propertycount       1
dtype: int64

In [95]:
from sklearn.impute import SimpleImputer

X_train_plus = X_train.copy()
X_valid_plus = X_valid.copy()


for col in columns_with_missing[columns_with_missing > 0].keys():
    X_train_plus[col + '_was_missing'] = X_train_plus[col].isnull()
    X_valid_plus[col + '_was_missing'] = X_valid_plus[col].isnull()

myImputer = SimpleImputer()
impute_X_train_plus = pd.DataFrame(myImputer.fit_transform(X_train_plus))
impute_x_valid_plus = pd.DataFrame(myImputer.transform(X_valid_plus))

impute_X_train_plus.columns = X_train_plus.columns
impute_x_valid_plus.columns = X_valid_plus.columns

In [96]:
impute_X_train_plus.describe()

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,...,Postcode_was_missing,Bedroom2_was_missing,Bathroom_was_missing,Car_was_missing,Landsize_was_missing,BuildingArea_was_missing,YearBuilt_was_missing,Lattitude_was_missing,Longtitude_was_missing,Propertycount_was_missing
count,14716.000000,14716.000000,14716.000000,14716.000000,14716.000000,14716.000000,14716.000000,14716.000000,14716.000000,14716.000000,...,14716.000000,14716.000000,14716.00000,14716.000000,14716.000000,14716.000000,14716.000000,14716.000000,14716.000000,14716.000000
mean,2.929600,10.376052,3107.163575,2.910111,1.538874,1.615891,572.558648,152.120627,1966.099750,-37.809653,...,0.000068,0.188842,0.18891,0.194346,0.260193,0.578690,0.511552,0.181775,0.181775,0.000068
std,0.959211,6.003154,94.986268,0.871123,0.620302,0.855387,3810.602504,371.089810,25.985308,0.073380,...,0.008243,0.391396,0.39145,0.395710,0.438755,0.493786,0.499884,0.385672,0.385672,0.008243
min,1.000000,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,6.300000,3046.000000,2.000000,1.000000,1.000000,249.000000,140.000000,1966.099750,-37.844825,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,9.700000,3085.000000,3.000000,1.538874,1.615891,572.558648,152.120627,1966.099750,-37.809653,...,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
75%,3.000000,13.100000,3149.000000,3.000000,2.000000,2.000000,594.000000,152.120627,1970.000000,-37.767175,...,0.000000,0.000000,0.00000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
max,12.000000,48.100000,3978.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,...,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [97]:
X_train.describe()

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,14716.000000,14715.000000,14715.000000,11937.000000,11936.000000,11856.000000,10887.000000,6200.000000,7188.000000,12041.000000,12041.000000,14715.000000
mean,2.929600,10.376052,3107.163575,2.910111,1.538874,1.615891,572.558648,152.120627,1966.099750,-37.809653,144.996461,7538.670608
std,0.959211,6.003358,94.989496,0.967231,0.688767,0.952998,4430.366115,571.739692,37.182123,0.081123,0.105921,4517.210797
min,1.000000,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.300000,3046.000000,2.000000,1.000000,1.000000,173.000000,93.000000,1950.000000,-37.857710,144.931900,4294.000000
50%,3.000000,9.700000,3085.000000,3.000000,1.000000,2.000000,435.000000,126.000000,1970.000000,-37.802900,145.000940,6567.000000
75%,3.000000,13.100000,3149.000000,3.000000,2.000000,2.000000,650.500000,174.000000,2000.000000,-37.755820,145.059400,10331.000000
max,12.000000,48.100000,3978.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000